.information-cards {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px 32px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.information-cards__item {
   /* width: calc((100% / 4) - (96px / 4));*/

}

